body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    background-color: aqua;
    padding: 10 px;
    margin: 50px;

}
h1{
    text-align: center;
    color: blue;
    font-style: italic;
}
form{
    align-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    background-color: antiquewhite;
}
label{
    font-size: 20px;
    font-weight: bold;
    color: black;
}


input [type="text"],input [type="Number"],input [type="file"],input [type="date"],select,textarea{
    width: 300px;
    margin-top: 10px;
    border: 20px blue;
    border-radius: 10px;
    font-size: 20px;
    border-bottom: 18px;
}
#Name{
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px; 
}
input[type="submit"]{
     display: block;
    margin: 20px auto 0 auto;
    width: 320px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: linear-gradient(to bottom, #1b87d4 0%, #0b5fa6 100%);
    transition: 0.3s;

}
input [type="submit"]:hover{
    background:blue ;
     
  transform:scale(1.03) ;
  
}

#Address{
 max-width:300px ;
 min-width: 100px ;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 resize:vertical ;
}
input[type="radio"]{
    margin: 0 auto;
    padding: 10px;

}