.header h1{
    font-size: 40px;
    text-align: center;
    color: brown;
}
form{
   align-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    background-color: antiquewhite;
    /* margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    background-color: antiquewhite; */
}
.mid h1{
    text-align: center;
}
.topnav{
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    font-size: larger;
}
input[type = "text"],input[type="number"],input[type="date"],select{
    width: 400px;
    padding: 15px;
    border: 40px;
   margin-top: 10px;
   margin-bottom: 20px;
   margin-right: 20px;  
   font-size: 20px;  
}
input[type="submit"]:hover{
    background-color: aqua;
    cursor: pointer;
    font-display: auto;

}
span{
    color: red;
    font-size: 18px;
    align-content: center;
   
}
